.cadastro-items-left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

.single-div{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-items: center;
}

.cadastro-item-nome, .cadastro-item-cpf, .cadastro-item-email, .cadastro-item-confirmEmail, .cadastro-item-ramal, .cadastro-item-confirmRamal{
    color: red;
    position: absolute;
    margin-top: -30px;
    margin-left: 50px;
    display: none;
}

.cadastro-item-cpf{
    margin-top: -32x;
    margin-left: 30px;
}

.cadastro-item-email{
    margin-left: 50px;
}

.cadastro-item-confirmEmail{
    margin-left: 120px;
}

.cadastro-item-confirmRamal{
    margin-left: 120px;
}