.cadastro-items-left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

.single-div{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-items: center;
}

.cadastro-item-nome{
    color: red;
    position: absolute;
    margin-top: -30px;
    margin-left: 50px;
    display: none;
}